.Rproj.user
.Rhistory
.RData
.Ruserdata
raw-data/ebd_relApr-2019_yucatan.txt
raw-data/ebd_sampling_relApr-2019_yucatan.txt
raw-data/ebd_2015-2016_yucatan.txt
raw-data/ebd_sampling_2015-2016_yucatan.txt
raw-data/ebd-files